## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# df = df.value_counts().rename_axis('unique_values').reset_index(name='counts')
df = application_df['CLASSIFICATION'].value_counts().rename_axis('unique_values').reset_index(name='counts')
print(df[df['counts']>1])

   unique_values  counts
0          C1000   17326
1          C2000    6074
2          C1200    4837
3          C3000    1918
4          C2100    1883
5          C7000     777
6          C1700     287
7          C4000     194
8          C5000     116
9          C1270     114
10         C2700     104
11         C2800      95
12         C7100      75
13         C1300      58
14         C1280      50
15         C1230      36
16         C1400      34
17         C7200      32
18         C2300      32
19         C1240      30
20         C8000      20
21         C7120      18
22         C1500      16
23         C1800      15
24         C6000      15
25         C1250      14
26         C8200      11
27         C1238      10
28         C1278      10
29         C1235       9
30         C1237       9
31         C7210       7
32         C2400       6
33         C1720       6
34         C4100       6
35         C1257       5
36         C1600       5
37         C1260       3
38         C2710       3
39            C0       3
40         C3200       2
41         C1234       2
42         C1246       2
43         C1267       2
44         C1256       2

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []

for ind in df.index:
    if (df['counts'][ind])<1883:
        classifications_to_replace.append(df['unique_values'][ind]) 
        
print(classifications_to_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [11]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_numeric = pd.get_dummies(application_df, 
                            columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION',
                                     'USE_CASE','ORGANIZATION','INCOME_AMT',
                                     'SPECIAL_CONSIDERATIONS'], dtype=int)

application_df_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
application_df_numeric.shape

(34299, 44)

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df_numeric['IS_SUCCESSFUL'].values
X = application_df_numeric.drop(columns='IS_SUCCESSFUL').values
print(X.shape)

(34299, 43)

In [15]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 965us/step - loss: 0.5715 - accuracy: 0.7173
Epoch 2/100
804/804 [==============================] - 1s 959us/step - loss: 0.5558 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 1s 971us/step - loss: 0.5523 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7297
Epoch 5/100
804/804 [==============================] - 1s 919us/step - loss: 0.5497 - accuracy: 0.7310
Epoch 6/100
804/804 [==============================] - 1s 879us/step - loss: 0.5488 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 1s 938us/step - loss: 0.5482 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 941us/step - loss: 0.5472 - accuracy: 0.7327
Epoch 9/100
804/804 [==============================] - 1s 879us/step - loss: 0.5463 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 1s 978us/step - loss: 0.5462 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 1s 939us/step - loss: 0.5456 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 908us/step - loss: 0.5450 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 1s 951us/step - loss: 0.5448 - accuracy: 0.7332
Epoch 14/100
804/804 [==============================] - 1s 934us/step - loss: 0.5441 - accuracy: 0.7323
Epoch 15/100
804/804 [==============================] - 1s 928us/step - loss: 0.5437 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 1s 941us/step - loss: 0.5435 - accuracy: 0.7349
Epoch 17/100
804/804 [==============================] - 1s 951us/step - loss: 0.5432 - accuracy: 0.7357
Epoch 18/100
804/804 [==============================] - 1s 934us/step - loss: 0.5423 - accuracy: 0.7355
Epoch 19/100
804/804 [==============================] - 1s 933us/step - loss: 0.5427 - accuracy: 0.7364
Epoch 20/100
804/804 [==============================] - 1s 944us/step - loss: 0.5423 - accuracy: 0.7344
Epoch 21/100
804/804 [==============================] - 1s 955us/step - loss: 0.5420 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 1s 972us/step - loss: 0.5408 - accuracy: 0.7363
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 26/100
804/804 [==============================] - 1s 958us/step - loss: 0.5408 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 1s 938us/step - loss: 0.5405 - accuracy: 0.7377
Epoch 28/100
804/804 [==============================] - 1s 921us/step - loss: 0.5400 - accuracy: 0.7362
Epoch 29/100
804/804 [==============================] - 1s 951us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 30/100
804/804 [==============================] - 1s 905us/step - loss: 0.5397 - accuracy: 0.7370
Epoch 31/100
804/804 [==============================] - 1s 922us/step - loss: 0.5399 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 1s 890us/step - loss: 0.5396 - accuracy: 0.7372
Epoch 33/100
804/804 [==============================] - 1s 913us/step - loss: 0.5391 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 1s 924us/step - loss: 0.5388 - accuracy: 0.7377
Epoch 35/100
804/804 [==============================] - 1s 904us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 36/100
804/804 [==============================] - 1s 910us/step - loss: 0.5392 - accuracy: 0.7371
Epoch 37/100
804/804 [==============================] - 1s 950us/step - loss: 0.5386 - accuracy: 0.7373
Epoch 38/100
804/804 [==============================] - 1s 887us/step - loss: 0.5382 - accuracy: 0.7380
Epoch 39/100
804/804 [==============================] - 1s 914us/step - loss: 0.5386 - accuracy: 0.7379
Epoch 40/100
804/804 [==============================] - 1s 913us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 41/100
804/804 [==============================] - 1s 960us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 42/100
804/804 [==============================] - 1s 939us/step - loss: 0.5379 - accuracy: 0.7375
Epoch 43/100
804/804 [==============================] - 1s 934us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7377
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7387
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7384
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7393
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7382
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7381
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7387
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7401
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7382
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7392
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 80/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7407
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7401
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7409

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5675 - accuracy: 0.7251 - 330ms/epoch - 1ms/step
Loss: 0.567524254322052, Accuracy: 0.7251312136650085

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")