## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

# Optimization 1 - increase number of bins in Application Type and Classification

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Optimization 1 - changed cutoff from <528 to <50
application_types_to_replace = ['T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# df = df.value_counts().rename_axis('unique_values').reset_index(name='counts')
df = application_df['CLASSIFICATION'].value_counts().rename_axis('unique_values').reset_index(name='counts')
print(df[df['counts']>1])

   unique_values  counts
0          C1000   17326
1          C2000    6074
2          C1200    4837
3          C3000    1918
4          C2100    1883
5          C7000     777
6          C1700     287
7          C4000     194
8          C5000     116
9          C1270     114
10         C2700     104
11         C2800      95
12         C7100      75
13         C1300      58
14         C1280      50
15         C1230      36
16         C1400      34
17         C7200      32
18         C2300      32
19         C1240      30
20         C8000      20
21         C7120      18
22         C1500      16
23         C1800      15
24         C6000      15
25         C1250      14
26         C8200      11
27         C1238      10
28         C1278      10
29         C1235       9
30         C1237       9
31         C7210       7
32         C2400       6
33         C1720       6
34         C4100       6
35         C1257       5
36         C1600       5
37         C1260       3
38         C2710       3
39            C0       3
40         C3200       2
41         C1234       2
42         C1246       2
43         C1267       2
44         C1256       2

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Optimization 1 - changed cutoff from <1823 to <50
classifications_to_replace = []

for ind in df.index:
    if (df['counts'][ind])<50:
        classifications_to_replace.append(df['unique_values'][ind]) 
        
print(classifications_to_replace)

['C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_numeric = pd.get_dummies(application_df, 
                            columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION',
                                     'USE_CASE','ORGANIZATION','INCOME_AMT',
                                     'SPECIAL_CONSIDERATIONS'], dtype=int)

application_df_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
application_df_numeric.shape

(34299, 56)

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df_numeric['IS_SUCCESSFUL'].values
X = application_df_numeric.drop(columns='IS_SUCCESSFUL').values
print(X.shape)

(34299, 55)

In [14]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

##  Attempt 1 - Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn_1 = tf.keras.models.Sequential()

# First hidden layer
nn_1.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=55))

# Second hidden layer
nn_1.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4480

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,941
Trainable params: 6,941
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn_1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 856us/step - loss: 0.5686 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 1s 799us/step - loss: 0.5550 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 1s 872us/step - loss: 0.5510 - accuracy: 0.7301
Epoch 4/100
804/804 [==============================] - 1s 816us/step - loss: 0.5484 - accuracy: 0.7317
Epoch 5/100
804/804 [==============================] - 1s 796us/step - loss: 0.5469 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 1s 776us/step - loss: 0.5463 - accuracy: 0.7322
Epoch 7/100
804/804 [==============================] - 1s 787us/step - loss: 0.5446 - accuracy: 0.7326
Epoch 8/100
804/804 [==============================] - 1s 809us/step - loss: 0.5442 - accuracy: 0.7340
Epoch 9/100
804/804 [==============================] - 1s 852us/step - loss: 0.5441 - accuracy: 0.7330
Epoch 10/100
804/804 [==============================] - 1s 792us/step - loss: 0.5425 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 1s 768us/step - loss: 0.5427 - accuracy: 0.7349
Epoch 12/100
804/804 [==============================] - 1s 762us/step - loss: 0.5413 - accuracy: 0.7373
Epoch 13/100
804/804 [==============================] - 1s 788us/step - loss: 0.5405 - accuracy: 0.7360
Epoch 14/100
804/804 [==============================] - 1s 780us/step - loss: 0.5402 - accuracy: 0.7355
Epoch 15/100
804/804 [==============================] - 1s 758us/step - loss: 0.5400 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 1s 806us/step - loss: 0.5400 - accuracy: 0.7366
Epoch 17/100
804/804 [==============================] - 1s 743us/step - loss: 0.5396 - accuracy: 0.7376
Epoch 18/100
804/804 [==============================] - 1s 821us/step - loss: 0.5391 - accuracy: 0.7372
Epoch 19/100
804/804 [==============================] - 1s 789us/step - loss: 0.5388 - accuracy: 0.7365
Epoch 20/100
804/804 [==============================] - 1s 748us/step - loss: 0.5380 - accuracy: 0.7373
Epoch 21/100
804/804 [==============================] - 1s 805us/step - loss: 0.5383 - accuracy: 0.7392
Epoch 22/100
804/804 [==============================] - 1s 746us/step - loss: 0.5378 - accuracy: 0.7379
Epoch 23/100
804/804 [==============================] - 1s 755us/step - loss: 0.5379 - accuracy: 0.7387
Epoch 24/100
804/804 [==============================] - 1s 745us/step - loss: 0.5375 - accuracy: 0.7384
Epoch 25/100
804/804 [==============================] - 1s 798us/step - loss: 0.5372 - accuracy: 0.7396
Epoch 26/100
804/804 [==============================] - 1s 772us/step - loss: 0.5365 - accuracy: 0.7395
Epoch 27/100
804/804 [==============================] - 1s 786us/step - loss: 0.5368 - accuracy: 0.7391
Epoch 28/100
804/804 [==============================] - 1s 885us/step - loss: 0.5368 - accuracy: 0.7400
Epoch 29/100
804/804 [==============================] - 1s 966us/step - loss: 0.5360 - accuracy: 0.7399
Epoch 30/100
804/804 [==============================] - 1s 935us/step - loss: 0.5359 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 916us/step - loss: 0.5361 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 1s 941us/step - loss: 0.5351 - accuracy: 0.7389
Epoch 33/100
804/804 [==============================] - 1s 909us/step - loss: 0.5358 - accuracy: 0.7401
Epoch 34/100
804/804 [==============================] - 1s 974us/step - loss: 0.5353 - accuracy: 0.7400
Epoch 35/100
804/804 [==============================] - 1s 909us/step - loss: 0.5347 - accuracy: 0.7384
Epoch 36/100
804/804 [==============================] - 1s 898us/step - loss: 0.5349 - accuracy: 0.7392
Epoch 37/100
804/804 [==============================] - 1s 985us/step - loss: 0.5350 - accuracy: 0.7400
Epoch 38/100
804/804 [==============================] - 1s 889us/step - loss: 0.5344 - accuracy: 0.7404
Epoch 39/100
804/804 [==============================] - 1s 863us/step - loss: 0.5346 - accuracy: 0.7398
Epoch 40/100
804/804 [==============================] - 1s 977us/step - loss: 0.5347 - accuracy: 0.7406
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7394
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7389
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7402
Epoch 44/100
804/804 [==============================] - 1s 903us/step - loss: 0.5333 - accuracy: 0.7397
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7414
Epoch 46/100
804/804 [==============================] - 1s 960us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 1s 851us/step - loss: 0.5334 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 920us/step - loss: 0.5334 - accuracy: 0.7403
Epoch 50/100
804/804 [==============================] - 1s 943us/step - loss: 0.5330 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 1s 860us/step - loss: 0.5331 - accuracy: 0.7411
Epoch 52/100
804/804 [==============================] - 1s 984us/step - loss: 0.5322 - accuracy: 0.7405
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 54/100
804/804 [==============================] - 1s 860us/step - loss: 0.5324 - accuracy: 0.7410
Epoch 55/100
804/804 [==============================] - 1s 852us/step - loss: 0.5326 - accuracy: 0.7411
Epoch 56/100
804/804 [==============================] - 1s 855us/step - loss: 0.5326 - accuracy: 0.7400
Epoch 57/100
804/804 [==============================] - 1s 878us/step - loss: 0.5321 - accuracy: 0.7407
Epoch 58/100
804/804 [==============================] - 1s 925us/step - loss: 0.5323 - accuracy: 0.7401
Epoch 59/100
804/804 [==============================] - 1s 891us/step - loss: 0.5319 - accuracy: 0.7411
Epoch 60/100
804/804 [==============================] - 1s 885us/step - loss: 0.5321 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 861us/step - loss: 0.5320 - accuracy: 0.7410
Epoch 62/100
804/804 [==============================] - 1s 860us/step - loss: 0.5323 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 855us/step - loss: 0.5318 - accuracy: 0.7402
Epoch 64/100
804/804 [==============================] - 1s 936us/step - loss: 0.5321 - accuracy: 0.7416
Epoch 65/100
804/804 [==============================] - 1s 908us/step - loss: 0.5313 - accuracy: 0.7414
Epoch 66/100
804/804 [==============================] - 1s 857us/step - loss: 0.5314 - accuracy: 0.7415
Epoch 67/100
804/804 [==============================] - 1s 896us/step - loss: 0.5315 - accuracy: 0.7417
Epoch 68/100
804/804 [==============================] - 1s 851us/step - loss: 0.5315 - accuracy: 0.7417
Epoch 69/100
804/804 [==============================] - 1s 939us/step - loss: 0.5316 - accuracy: 0.7411
Epoch 70/100
804/804 [==============================] - 1s 864us/step - loss: 0.5307 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 1s 945us/step - loss: 0.5311 - accuracy: 0.7413
Epoch 72/100
804/804 [==============================] - 1s 927us/step - loss: 0.5309 - accuracy: 0.7421
Epoch 73/100
804/804 [==============================] - 1s 883us/step - loss: 0.5312 - accuracy: 0.7412
Epoch 74/100
804/804 [==============================] - 1s 944us/step - loss: 0.5308 - accuracy: 0.7411
Epoch 75/100
804/804 [==============================] - 1s 851us/step - loss: 0.5311 - accuracy: 0.7424
Epoch 76/100
804/804 [==============================] - 1s 862us/step - loss: 0.5307 - accuracy: 0.7406
Epoch 77/100
804/804 [==============================] - 1s 869us/step - loss: 0.5304 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 1s 884us/step - loss: 0.5306 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 1s 855us/step - loss: 0.5305 - accuracy: 0.7406

Epoch 80/100
804/804 [==============================] - 1s 948us/step - loss: 0.5303 - accuracy: 0.7422
Epoch 81/100
804/804 [==============================] - 1s 870us/step - loss: 0.5303 - accuracy: 0.7414
Epoch 82/100
804/804 [==============================] - 1s 853us/step - loss: 0.5302 - accuracy: 0.7427
Epoch 83/100
804/804 [==============================] - 1s 857us/step - loss: 0.5301 - accuracy: 0.7418
Epoch 84/100
804/804 [==============================] - 1s 860us/step - loss: 0.5303 - accuracy: 0.7420
Epoch 85/100
804/804 [==============================] - 1s 864us/step - loss: 0.5299 - accuracy: 0.7415
Epoch 86/100
804/804 [==============================] - 1s 881us/step - loss: 0.5297 - accuracy: 0.7417
Epoch 87/100
804/804 [==============================] - 1s 912us/step - loss: 0.5301 - accuracy: 0.7419
Epoch 88/100
804/804 [==============================] - 1s 946us/step - loss: 0.5301 - accuracy: 0.7417
Epoch 89/100
804/804 [==============================] - 1s 826us/step - loss: 0.5296 - accuracy: 0.7419
Epoch 90/100
804/804 [==============================] - 1s 844us/step - loss: 0.5305 - accuracy: 0.7422
Epoch 91/100
804/804 [==============================] - 1s 853us/step - loss: 0.5301 - accuracy: 0.7417
Epoch 92/100
804/804 [==============================] - 1s 889us/step - loss: 0.5295 - accuracy: 0.7420
Epoch 93/100
804/804 [==============================] - 1s 979us/step - loss: 0.5294 - accuracy: 0.7428
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7422
Epoch 95/100
804/804 [==============================] - 1s 891us/step - loss: 0.5293 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 1s 857us/step - loss: 0.5296 - accuracy: 0.7422
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7424
Epoch 98/100
804/804 [==============================] - 1s 868us/step - loss: 0.5295 - accuracy: 0.7426
Epoch 99/100
804/804 [==============================] - 1s 891us/step - loss: 0.5296 - accuracy: 0.7423
Epoch 100/100
804/804 [==============================] - 1s 883us/step - loss: 0.5293 - accuracy: 0.7420

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5590 - accuracy: 0.7294 - 293ms/epoch - 1ms/step
Loss: 0.5590327978134155, Accuracy: 0.7294460535049438

# Optimization 2 - try different activations for layers

In [20]:
# Define the model - use Selu activation


nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=55))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                4480

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,941
Trainable params: 6,941
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.8365 - accuracy: 0.7014
Epoch 2/100
804/804 [==============================] - 1s 892us/step - loss: 0.6263 - accuracy: 0.7221
Epoch 3/100
804/804 [==============================] - 1s 879us/step - loss: 0.6144 - accuracy: 0.7127
Epoch 4/100
804/804 [==============================] - 1s 919us/step - loss: 0.6221 - accuracy: 0.7197
Epoch 5/100
804/804 [==============================] - 1s 879us/step - loss: 0.6073 - accuracy: 0.7246
Epoch 6/100
804/804 [==============================] - 1s 932us/step - loss: 0.5974 - accuracy: 0.7289
Epoch 7/100
804/804 [==============================] - 1s 955us/step - loss: 0.5959 - accuracy: 0.7291
Epoch 8/100
804/804 [==============================] - 1s 928us/step - loss: 0.6280 - accuracy: 0.7145
Epoch 9/100
804/804 [==============================] - 1s 928us/step - loss: 0.5975 - accuracy: 0.7240
Epoch 10/100
804/804 [==============================] - 1s 903us/step - loss: 0.5885 - accuracy: 0.7292
Epoch 11/100
804/804 [==============================] - 1s 955us/step - loss: 0.5970 - accuracy: 0.7292
Epoch 12/100
804/804 [==============================] - 1s 935us/step - loss: 0.5923 - accuracy: 0.7306
Epoch 13/100
804/804 [==============================] - 1s 913us/step - loss: 0.5967 - accuracy: 0.7200
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5868 - accuracy: 0.7314
Epoch 15/100
804/804 [==============================] - 1s 929us/step - loss: 0.6036 - accuracy: 0.7225
Epoch 16/100
804/804 [==============================] - 1s 906us/step - loss: 0.5942 - accuracy: 0.7261
Epoch 17/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5823 - accuracy: 0.7303
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5826 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5810 - accuracy: 0.7303
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5839 - accuracy: 0.7320
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5791 - accuracy: 0.7286
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5765 - accuracy: 0.7265
Epoch 23/100
804/804 [==============================] - 1s 964us/step - loss: 0.5713 - accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 1s 940us/step - loss: 0.5706 - accuracy: 0.7304
Epoch 25/100
804/804 [==============================] - 1s 925us/step - loss: 0.5723 - accuracy: 0.7343
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5733 - accuracy: 0.7339
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5723 - accuracy: 0.7343
Epoch 28/100
804/804 [==============================] - 1s 997us/step - loss: 0.5759 - accuracy: 0.7305
Epoch 29/100
804/804 [==============================] - 1s 975us/step - loss: 0.5686 - accuracy: 0.7319
Epoch 30/100
804/804 [==============================] - 1s 962us/step - loss: 0.5704 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7355
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5704 - accuracy: 0.7334
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5722 - accuracy: 0.7320
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7341
Epoch 35/100
804/804 [==============================] - 1s 959us/step - loss: 0.5680 - accuracy: 0.7355
Epoch 36/100
804/804 [==============================] - 1s 967us/step - loss: 0.5633 - accuracy: 0.7357
Epoch 37/100
804/804 [==============================] - 1s 937us/step - loss: 0.5631 - accuracy: 0.7350
Epoch 38/100
804/804 [==============================] - 1s 995us/step - loss: 0.5636 - accuracy: 0.7347
Epoch 39/100
804/804 [==============================] - 1s 984us/step - loss: 0.5628 - accuracy: 0.7358
Epoch 40/100
804/804 [==============================] - 1s 940us/step - loss: 0.5615 - accuracy: 0.7367
Epoch 41/100
804/804 [==============================] - 1s 981us/step - loss: 0.5652 - accuracy: 0.7370
Epoch 42/100
804/804 [==============================] - 1s 992us/step - loss: 0.5667 - accuracy: 0.7327
Epoch 43/100
804/804 [==============================] - 1s 952us/step - loss: 0.5598 - accuracy: 0.7368
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7328
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7375
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7370
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7372
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7382
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7369
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5543 - accuracy: 0.7389
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 1s 970us/step - loss: 0.5575 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 1s 948us/step - loss: 0.5512 - accuracy: 0.7379
Epoch 55/100
804/804 [==============================] - 1s 985us/step - loss: 0.5552 - accuracy: 0.7373
Epoch 56/100
804/804 [==============================] - 1s 925us/step - loss: 0.5573 - accuracy: 0.7372
Epoch 57/100
804/804 [==============================] - 1s 983us/step - loss: 0.5579 - accuracy: 0.7364
Epoch 58/100
804/804 [==============================] - 1s 944us/step - loss: 0.5582 - accuracy: 0.7365
Epoch 59/100
804/804 [==============================] - 1s 979us/step - loss: 0.5598 - accuracy: 0.7374
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5554 - accuracy: 0.7380
Epoch 61/100
804/804 [==============================] - 1s 967us/step - loss: 0.5548 - accuracy: 0.7359
Epoch 62/100
804/804 [==============================] - 1s 959us/step - loss: 0.5525 - accuracy: 0.7386
Epoch 63/100
804/804 [==============================] - 1s 970us/step - loss: 0.5543 - accuracy: 0.7376
Epoch 64/100
804/804 [==============================] - 1s 969us/step - loss: 0.5570 - accuracy: 0.7381
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7386
Epoch 66/100
804/804 [==============================] - 1s 987us/step - loss: 0.5522 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7388
Epoch 68/100
804/804 [==============================] - 1s 968us/step - loss: 0.5657 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5661 - accuracy: 0.7378
Epoch 70/100
804/804 [==============================] - 1s 998us/step - loss: 0.5661 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 1s 940us/step - loss: 0.5579 - accuracy: 0.7384
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7392
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7386
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5563 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 1s 954us/step - loss: 0.5527 - accuracy: 0.7408
Epoch 76/100
804/804 [==============================] - 1s 922us/step - loss: 0.5488 - accuracy: 0.7392
Epoch 77/100
804/804 [==============================] - 1s 938us/step - loss: 0.5560 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 1s 958us/step - loss: 0.5599 - accuracy: 0.7342
Epoch 79/100
804/804 [==============================] - 1s 965us/step - loss: 0.5579 - accuracy: 0.7366
Epoch 80/100

804/804 [==============================] - 1s 975us/step - loss: 0.5477 - accuracy: 0.7404
Epoch 81/100
804/804 [==============================] - 1s 936us/step - loss: 0.5459 - accuracy: 0.7404
Epoch 82/100
804/804 [==============================] - 1s 921us/step - loss: 0.5459 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7404
Epoch 85/100
804/804 [==============================] - 1s 968us/step - loss: 0.5449 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 1s 947us/step - loss: 0.5480 - accuracy: 0.7388
Epoch 87/100
804/804 [==============================] - 1s 994us/step - loss: 0.5473 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 1s 924us/step - loss: 0.5503 - accuracy: 0.7389
Epoch 89/100
804/804 [==============================] - 1s 935us/step - loss: 0.5513 - accuracy: 0.7388
Epoch 90/100
804/804 [==============================] - 1s 980us/step - loss: 0.5545 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 1s 970us/step - loss: 0.5556 - accuracy: 0.7402
Epoch 92/100
804/804 [==============================] - 1s 976us/step - loss: 0.5575 - accuracy: 0.7387
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7387
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7410
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7397
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7413
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7398
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7396

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6072 - accuracy: 0.7280 - 344ms/epoch - 1ms/step
Loss: 0.6072078943252563, Accuracy: 0.7280466556549072

## model performances
(1)binning change: Loss: 0.561, Accuracy: 0.730

selu/selu/sigmoid:  Loss: 0.553, Accuracy: 0.734

elu/elu/sigmoid: Loss: 0.554, Accuracy: 0.732

relu/relu/tanh: Loss: 0.610, Accuracy: 0.731

# Optimization 3 - remove some inputs

In [23]:
# Look at SPECIAL_CONSIDERATIONS value counts for binning
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

In [24]:
# Look at USE_CASE value counts for binning
application_df['USE_CASE'].value_counts()

USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64

In [25]:
# Look at STATUS value counts for binning
application_df['STATUS'].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [48]:
#  Import and read the charity_data.csv.
application_df_3 = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_3.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_3 = application_df_3.drop(columns=['EIN', 'NAME'])

#Drop STATUS and SPECIAL CONSIDERATIONS
application_df_3 = application_df_3.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT'])

application_df_3.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,1

In [50]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Optimization 1 - changed cutoff from <528 to <50
application_types_to_replace = ['T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df_3['APPLICATION_TYPE'] = application_df_3['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_3['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [51]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Optimization 1 - changed cutoff from <1823 to <50
# Replace in dataframe
for cls in classifications_to_replace:
    application_df_3['CLASSIFICATION'] = application_df_3['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_3['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_3_numeric = pd.get_dummies(application_df_3, 
                            columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION',
                                     'ORGANIZATION','INCOME_AMT','USE_CASE'], dtype=int)

application_df_3_numeric.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [53]:
# Split our preprocessed data into our features and target arrays
y = application_df_3_numeric['IS_SUCCESSFUL'].values
X = application_df_3_numeric.drop(columns='IS_SUCCESSFUL').values
print(X.shape)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

(34299, 51)

In [54]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_3 = tf.keras.models.Sequential()

# First hidden layer
nn_3.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=51))

# Second hidden layer
nn_3.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_3.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                4160

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,621
Trainable params: 6,621
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the model
nn_3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_3.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 809us/step - loss: 0.5679 - accuracy: 0.7198
Epoch 2/100
804/804 [==============================] - 1s 792us/step - loss: 0.5529 - accuracy: 0.7297
Epoch 3/100
804/804 [==============================] - 1s 839us/step - loss: 0.5489 - accuracy: 0.7309
Epoch 4/100
804/804 [==============================] - 1s 865us/step - loss: 0.5472 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 1s 763us/step - loss: 0.5457 - accuracy: 0.7322
Epoch 6/100
804/804 [==============================] - 1s 790us/step - loss: 0.5450 - accuracy: 0.7330
Epoch 7/100
804/804 [==============================] - 1s 781us/step - loss: 0.5440 - accuracy: 0.7336
Epoch 8/100
804/804 [==============================] - 1s 736us/step - loss: 0.5430 - accuracy: 0.7335
Epoch 9/100
804/804 [==============================] - 1s 749us/step - loss: 0.5427 - accuracy: 0.7346
Epoch 10/100
804/804 [==============================] - 1s 730us/step - loss: 0.5412 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 725us/step - loss: 0.5416 - accuracy: 0.7352
Epoch 12/100
804/804 [==============================] - 1s 761us/step - loss: 0.5409 - accuracy: 0.7361
Epoch 13/100
804/804 [==============================] - 1s 735us/step - loss: 0.5400 - accuracy: 0.7344
Epoch 14/100
804/804 [==============================] - 1s 734us/step - loss: 0.5396 - accuracy: 0.7372
Epoch 15/100
804/804 [==============================] - 1s 739us/step - loss: 0.5394 - accuracy: 0.7365
Epoch 16/100
804/804 [==============================] - 1s 731us/step - loss: 0.5389 - accuracy: 0.7369
Epoch 17/100
804/804 [==============================] - 1s 756us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 18/100
804/804 [==============================] - 1s 738us/step - loss: 0.5386 - accuracy: 0.7380
Epoch 19/100
804/804 [==============================] - 1s 737us/step - loss: 0.5382 - accuracy: 0.7367
Epoch 20/100
804/804 [==============================] - 1s 740us/step - loss: 0.5380 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 1s 751us/step - loss: 0.5378 - accuracy: 0.7380
Epoch 22/100
804/804 [==============================] - 1s 742us/step - loss: 0.5373 - accuracy: 0.7378
Epoch 23/100
804/804 [==============================] - 1s 743us/step - loss: 0.5374 - accuracy: 0.7382
Epoch 24/100
804/804 [==============================] - 1s 744us/step - loss: 0.5368 - accuracy: 0.7387
Epoch 25/100
804/804 [==============================] - 1s 736us/step - loss: 0.5366 - accuracy: 0.7391
Epoch 26/100
804/804 [==============================] - 1s 748us/step - loss: 0.5364 - accuracy: 0.7397
Epoch 27/100
804/804 [==============================] - 1s 741us/step - loss: 0.5367 - accuracy: 0.7385
Epoch 28/100
804/804 [==============================] - 1s 741us/step - loss: 0.5357 - accuracy: 0.7395
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 30/100
804/804 [==============================] - 1s 916us/step - loss: 0.5356 - accuracy: 0.7389
Epoch 31/100
804/804 [==============================] - 1s 741us/step - loss: 0.5354 - accuracy: 0.7391
Epoch 32/100
804/804 [==============================] - 1s 738us/step - loss: 0.5353 - accuracy: 0.7399
Epoch 33/100
804/804 [==============================] - 1s 774us/step - loss: 0.5349 - accuracy: 0.7392
Epoch 34/100
804/804 [==============================] - 1s 804us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 35/100
804/804 [==============================] - 1s 959us/step - loss: 0.5347 - accuracy: 0.7390
Epoch 36/100
804/804 [==============================] - 1s 930us/step - loss: 0.5349 - accuracy: 0.7397
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7395
Epoch 38/100
804/804 [==============================] - 1s 974us/step - loss: 0.5342 - accuracy: 0.7397
Epoch 39/100
804/804 [==============================] - 1s 888us/step - loss: 0.5338 - accuracy: 0.7405
Epoch 40/100
804/804 [==============================] - 1s 888us/step - loss: 0.5340 - accuracy: 0.7405
Epoch 41/100
804/804 [==============================] - 1s 910us/step - loss: 0.5337 - accuracy: 0.7402
Epoch 42/100
804/804 [==============================] - 1s 903us/step - loss: 0.5334 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 46/100
804/804 [==============================] - 1s 855us/step - loss: 0.5328 - accuracy: 0.7414
Epoch 47/100
804/804 [==============================] - 1s 897us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 48/100
804/804 [==============================] - 1s 884us/step - loss: 0.5332 - accuracy: 0.7401
Epoch 49/100
804/804 [==============================] - 1s 952us/step - loss: 0.5326 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 1s 887us/step - loss: 0.5324 - accuracy: 0.7415
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 52/100
804/804 [==============================] - 1s 992us/step - loss: 0.5323 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 54/100
804/804 [==============================] - 1s 977us/step - loss: 0.5322 - accuracy: 0.7415
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 56/100
804/804 [==============================] - 1s 925us/step - loss: 0.5320 - accuracy: 0.7414
Epoch 57/100
804/804 [==============================] - 1s 868us/step - loss: 0.5321 - accuracy: 0.7413
Epoch 58/100
804/804 [==============================] - 1s 888us/step - loss: 0.5313 - accuracy: 0.7425
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 60/100
804/804 [==============================] - 1s 898us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 61/100
804/804 [==============================] - 1s 873us/step - loss: 0.5318 - accuracy: 0.7411
Epoch 62/100
804/804 [==============================] - 1s 912us/step - loss: 0.5316 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 1s 872us/step - loss: 0.5312 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 1s 878us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 65/100
804/804 [==============================] - 1s 875us/step - loss: 0.5315 - accuracy: 0.7412
Epoch 66/100
804/804 [==============================] - 1s 895us/step - loss: 0.5314 - accuracy: 0.7417
Epoch 67/100
804/804 [==============================] - 1s 870us/step - loss: 0.5310 - accuracy: 0.7419
Epoch 68/100
804/804 [==============================] - 1s 869us/step - loss: 0.5311 - accuracy: 0.7423
Epoch 69/100
804/804 [==============================] - 1s 895us/step - loss: 0.5310 - accuracy: 0.7415
Epoch 70/100
804/804 [==============================] - 1s 847us/step - loss: 0.5315 - accuracy: 0.7418
Epoch 71/100
804/804 [==============================] - 1s 868us/step - loss: 0.5308 - accuracy: 0.7417
Epoch 72/100
804/804 [==============================] - 1s 872us/step - loss: 0.5307 - accuracy: 0.7413
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7421
Epoch 74/100
804/804 [==============================] - 1s 911us/step - loss: 0.5312 - accuracy: 0.7409
Epoch 75/100
804/804 [==============================] - 1s 864us/step - loss: 0.5309 - accuracy: 0.7412
Epoch 76/100
804/804 [==============================] - 1s 878us/step - loss: 0.5306 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 1s 930us/step - loss: 0.5310 - accuracy: 0.7416
Epoch 78/100
804/804 [==============================] - 1s 868us/step - loss: 0.5308 - accuracy: 0.7420
Epoch 79/100
804/804 [==============================] - 1s 864us/step - loss: 0.5306 - accuracy: 0.7423
Epoch 80/100

804/804 [==============================] - 1s 864us/step - loss: 0.5305 - accuracy: 0.7416
Epoch 81/100
804/804 [==============================] - 1s 854us/step - loss: 0.5305 - accuracy: 0.7419
Epoch 82/100
804/804 [==============================] - 1s 913us/step - loss: 0.5305 - accuracy: 0.7422
Epoch 83/100
804/804 [==============================] - 1s 994us/step - loss: 0.5300 - accuracy: 0.7425
Epoch 84/100
804/804 [==============================] - 1s 856us/step - loss: 0.5305 - accuracy: 0.7407
Epoch 85/100
804/804 [==============================] - 1s 859us/step - loss: 0.5300 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7424
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7419
Epoch 88/100
804/804 [==============================] - 1s 851us/step - loss: 0.5300 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 1s 852us/step - loss: 0.5299 - accuracy: 0.7422
Epoch 90/100
804/804 [==============================] - 1s 883us/step - loss: 0.5299 - accuracy: 0.7414
Epoch 91/100
804/804 [==============================] - 1s 844us/step - loss: 0.5300 - accuracy: 0.7422
Epoch 92/100
804/804 [==============================] - 1s 849us/step - loss: 0.5298 - accuracy: 0.7420
Epoch 93/100
804/804 [==============================] - 1s 859us/step - loss: 0.5300 - accuracy: 0.7425
Epoch 94/100
804/804 [==============================] - 1s 857us/step - loss: 0.5295 - accuracy: 0.7422
Epoch 95/100
804/804 [==============================] - 1s 934us/step - loss: 0.5299 - accuracy: 0.7422
Epoch 96/100
804/804 [==============================] - 1s 875us/step - loss: 0.5295 - accuracy: 0.7413
Epoch 97/100
804/804 [==============================] - 1s 896us/step - loss: 0.5296 - accuracy: 0.7422
Epoch 98/100
804/804 [==============================] - 1s 849us/step - loss: 0.5293 - accuracy: 0.7417
Epoch 99/100
804/804 [==============================] - 1s 845us/step - loss: 0.5296 - accuracy: 0.7418
Epoch 100/100
804/804 [==============================] - 1s 845us/step - loss: 0.5296 - accuracy: 0.7424

In [56]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5580 - accuracy: 0.7311 - 212ms/epoch - 791us/step
Loss: 0.558025062084198, Accuracy: 0.7310787439346313

## model performances
(1)binning change: Loss: 0.561, Accuracy: 0.730

selu/selu/sigmoid:  Loss: 0.553, Accuracy: 0.734

elu/elu/sigmoid: Loss: 0.554, Accuracy: 0.732

relu/relu/tanh: Loss: 0.610, Accuracy: 0.731

Dropped SPECIAL_CONSIDERATIONS & STATUS: Loss: 0.561, Accuracy: 0.732

Dropped SPECIAL_CONSIDERATIONS, STATUS, & USE_CASE: Loss: 0.556, Accuracy: 0.732

Dropped SPECIAL_CONSIDERATIONS, STATUS, & ASK_AMT: Loss: 0.558, Accuracy: 0.731

## Optimization 4 - use keras-tuner

In [2]:
# Import the kerastuner library

import keras_tuner as kt

In [3]:
#  Import and read the charity_data.csv.
application_df_4 = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df_4.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_4 = application_df_4.drop(columns=['EIN', 'NAME'])

application_df_4 = application_df_4.drop(columns=
                                         ['STATUS','SPECIAL_CONSIDERATIONS'])

application_df_4.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df_4['ASK_AMT'].value_counts()

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [6]:
df = application_df_4['ASK_AMT'].value_counts().rename_axis('unique_values').reset_index(name='counts')


df2 = df.sort_values('unique_values')
print(df2[df2['counts']>10])

   unique_values  counts
0           5000   25398

In [7]:
# Choose a cutoff value and create a list of ASK_AMT to be replaced
# use the variable name `ask_amt_to_replace`
# cutoff at 5000
ask_amt_to_replace = []

for ind in df2.index:
    if (df2['counts'][ind])<5000:
        ask_amt_to_replace.append(df2['unique_values'][ind]) 
        
# print(ask_amt_to_replace)

In [8]:
# Replace in dataframe
for amt in ask_amt_to_replace:
    application_df_4['ASK_AMT'] = application_df_4['ASK_AMT'].replace(amt,"Other")
    
# Check to make sure binning was successful
application_df_4['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#cutoff at 50
application_types_to_replace = ['T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df_4['APPLICATION_TYPE'] = application_df_4['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_4['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# cutoff at 5
classifications_to_replace = []

df = application_df_4['CLASSIFICATION'].value_counts().rename_axis('unique_values').reset_index(name='counts')


for ind in df.index:
    if (df['counts'][ind])<100:
        classifications_to_replace.append(df['unique_values'][ind]) 
        
print(classifications_to_replace)

['C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [11]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df_4['CLASSIFICATION'] = application_df_4['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_4['CLASSIFICATION'].value_counts()

application_df_4.shape

(34299, 8)

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df_4_numeric = pd.get_dummies(application_df_4, 
                             columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION',
                                     'USE_CASE','ORGANIZATION','INCOME_AMT','ASK_AMT'], dtype=int)

application_df_4_numeric.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ASK_AMT_5000,ASK_AMT_Other
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_df_4_numeric['IS_SUCCESSFUL'].values
X = application_df_4_numeric.drop(columns='IS_SUCCESSFUL').values
print(X.shape)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

(34299, 49)

In [17]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_4 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','elu'])
    optimizer = hp.Choice('optimizer',['SGD','Adam'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_4.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=4), activation=activation, input_dim=49))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_4.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=4),
            activation=activation))
    
    nn_4.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_4.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])
    
    return nn_4

In [18]:
tuner = kt.BayesianOptimization(
    create_model,
    objective="val_accuracy",
    max_trials=10)

In [19]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=60,validation_data=(X_test_scaled,y_test))

Trial 10 Complete [00h 01m 20s]
val_accuracy: 0.7306122183799744

Best val_accuracy So Far: 0.7349271178245544
Total elapsed time: 00h 12m 00s
INFO:tensorflow:Oracle triggered exit